.streamlit
.project
.pydevproject
secrets.toml
map/*.png
map/*.html
reports/generation/documents/*.docx
reports/generation/documents/*.pdf
controllers/__pycache__
managers/__pycache__
scratch/__pycache__
lib/__pycache__

*.log